<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleIconFiles</key>
	<array>
		<string></string>
	</array>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>CFBundleDisplayName</key>
	<string>DwellProperties_v3</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleGetInfoString</key>
	<string></string>
	<key>CFBundleIconFile</key>
	<string></string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>$(PRODUCT_NAME)</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>$(MARKETING_VERSION)</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleVersion</key>
	<string>$(CURRENT_PROJECT_VERSION)</string>
	<key>LSApplicationCategoryType</key>
	<string></string>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsArbitraryLoads</key>
		<true/>
		<key>NSAllowsLocalNetworking</key>
		<true/>
	</dict>
	<key>NSCameraUsageDescription</key>
	<string>This app requires access to your camera to capture photos and videos.</string>
	<key>NSDocumentsFolderUsageDescription</key>
	<string>This app needs access to documents stored on your device.</string>
	<key>NSFileProviderDomainUsageDescription</key>
	<string>This app requires access to files you select or manage.</string>
	<key>NSHumanReadableCopyright</key>
	<string></string>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string>This app requires access to your Location for navigation.</string>
	<key>NSMicrophoneUsageDescription</key>
	<string>This app requires access to your microphone for audio recording.</string>
	<key>NSPhotoLibraryAddUsageDescription</key>
	<string>This app needs permission to save photos and videos to your library.</string>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>This app needs access to your photo library to select images and videos.</string>
	<key>NSSiriUsageDescription</key>
	<string>This app requires Siri access to enhance voice features.</string>
	<key>NSSpeechRecognitionUsageDescription</key>
	<string>This app needs access to speech recognition for converting your voice to text.</string>
	<key>NSUserSelectedFileUsageDescription</key>
	<string>This app requires permission to access the file you choose.</string>
	<key>RCTNewArchEnabled</key>
	<true/>
	<key>UILaunchStoryboardName</key>
	<string>LaunchScreen</string>
	<key>UIRequiredDeviceCapabilities</key>
	<array>
		<string>arm64</string>
	</array>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>UIViewControllerBasedStatusBarAppearance</key>
	<false/>
</dict>
</plist>
